#NET "N_MAG_PS_ON" 				LOC = AA22;
#NET "N_POT1_SW" 					LOC = AF5;
#NET "N_POT2_SW" 					LOC = AB6;
#NET "N_SW_FLT_RST" 				LOC = AE5;
#NET "N_SW_LOCAL" 					LOC = AE6;
#NET "N_SW_SPARE1" 				LOC = W6;
#NET "N_SW_SPARE2" 				LOC = Y4;
#NET "N_SW_TEST"	 				LOC = Y6;
#NET "N_SW_TRIGEN" 				LOC = Y5;
#NET "POT1_DOWN" 					LOC = AE22;
#NET "POT1_UP" 						LOC = AD20;
#NET "POT2_DOWN" 					LOC = AE20;
#NET "POT2_UP" 						LOC = AD23;
#NET "RX_LOS0"					  	LOC = J5;
#NET "RX_LOS1"					  	LOC = K5;
#NET "SLOWADC_DATA[0]"			LOC = D5;
#NET "SLOWADC_DATA[1]"		 	LOC = E5;
#NET "SLOWADC_DATA[2]"		 	LOC = F5;
#NET "SLOWADC_DATA[3]"		 	LOC = D6;
#NET "SLOWADC_DATA[4]"		 	LOC = E6;
#NET "SLOWADC_DATA[5]"		 	LOC = A7;
#NET "SLOWADC_DATA[6]"		 	LOC = B7;
#NET "SLOWADC_DATA[7]"		 	LOC = C7;
#NET "SLOWADC_DATA[8]"		 	LOC = E7;
#NET "SLOWADC_DATA[9]"		 	LOC = F7;
#NET "SLOWADC_DATA[10]" 			LOC = A8;
#NET "SLOWADC_DATA[11]" 			LOC = C8;
#NET "TEMP_ADC_CLK" 				LOC = H24;
#NET "TEMP_DIN" 					LOC = J24;
#NET "TEMP_DOUT_RDY" 				LOC = J25;
#NET "TEMP_SCLK" 					LOC = H26;
#NET "TX_FAULT0"					LOC = J6;
#NET "TX_FAULT1"					LOC = K6;
#NET "N_MOD_PRES0"					LOC = K8;
#NET "N_MOD_PRES1"					LOC = L8;
#

NET "N_FCS" 						LOC = Y12	|IOSTANDARD = LVCMOS33;
NET "N_FOE" 						LOC = AA12	|IOSTANDARD = LVCMOS33;
NET "N_FWE" 						LOC = AA17	|IOSTANDARD = LVCMOS33;

NET "N_POT1_SW" 					LOC = AF5	|IOSTANDARD = LVCMOS33;
NET "N_POT2_SW" 					LOC = AB6	|IOSTANDARD = LVCMOS33;
NET "N_SW_FLT_RST" 				LOC = AE5	|IOSTANDARD = LVCMOS33;
NET "N_SW_LOCAL" 					LOC = AE6	|IOSTANDARD = LVCMOS33;
NET "N_SW_SPARE1" 				LOC = W6	|IOSTANDARD = LVCMOS33;
NET "N_SW_SPARE2" 				LOC = Y4	|IOSTANDARD = LVCMOS33;
NET "N_SW_TEST"	 				LOC = Y6	|IOSTANDARD = LVCMOS33;
NET "N_SW_TRIGEN" 				LOC = Y5	|IOSTANDARD = LVCMOS33;
NET "POT1_DOWN" 					LOC = AE22	|IOSTANDARD = LVCMOS33;
NET "POT1_UP" 						LOC = AD20	|IOSTANDARD = LVCMOS33;
NET "POT2_DOWN" 					LOC = AE20	|IOSTANDARD = LVCMOS33;
NET "POT2_UP" 						LOC = AD23	|IOSTANDARD = LVCMOS33;


NET "SCL0"						  	LOC = J8	|IOSTANDARD = LVCMOS33;
NET "SDA0"						  	LOC = H8	|IOSTANDARD = LVCMOS33;
NET "SCL1"						 	LOC = L7	|IOSTANDARD = LVCMOS33;
NET "SDA1"						  	LOC = L5	|IOSTANDARD = LVCMOS33;



NET "SYSTEM_FAULT" 			LOC = AC14 	|IOSTANDARD = LVCMOS33;
NET "N_MAG_PS_ON" 				LOC = AA22 	|IOSTANDARD = LVCMOS33;


NET "MEM_ADDR[0]"						 	LOC = H9 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[1]"						  	LOC = G10 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[2]"						  	LOC = H21 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[3]"						  	LOC = G20 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[4]"						  	LOC = H11 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[5]"						 	LOC = G11 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[6]"						 	LOC = H19 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[7]"						  	LOC = H18 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[8]"						  	LOC = G12 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[9]"						  	LOC = F13 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[10]"							LOC = G19 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[11]"							LOC = F18 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[12]"							LOC = F14 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[13]"							LOC = F15 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[14]"							LOC = F17 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[15]"							LOC = G17 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[16]"							LOC = G14 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[17]"							LOC = H13 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[18]"							LOC = G16 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[19]"							LOC = G15 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[20]"							LOC = Y18 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[21]"							LOC = AA18 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[22]"							LOC = Y11 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[23]"							LOC = AA10 	|IOSTANDARD = LVCMOS33;
NET "MEM_ADDR[24]"							LOC = AA19 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[0]"						  	LOC = AA15 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[1]"						  	LOC = Y15 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[2]"						  	LOC = W14 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[3]"						  	LOC = Y13 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[4]"						 	LOC = W16 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[5]"						  	LOC = Y16 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[6]"						  	LOC = AA14 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[7]"						  	LOC = AA13 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[8]"						  	LOC = AB12 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[9]"						  	LOC = AC11 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[10]"							LOC = AB20 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[11]"							LOC = AB21 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[12]"							LOC = AB11 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[13]"							LOC = AB10 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[14]"							LOC = AA20 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[15]"							LOC = Y21 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[16]"							LOC = U26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[17]"							LOC = U25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[18]"							LOC = V26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[19]"							LOC = W25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[20]"							LOC = W26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[21]"							LOC = Y25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[22]"							LOC = Y26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[23]"							LOC = AA25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[24]"							LOC = AB25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[25]"							LOC = AB26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[26]"							LOC = AC26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[27]"							LOC = AD25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[28]"							LOC = AD26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[29]"							LOC = AE25 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[30]"							LOC = AE26 	|IOSTANDARD = LVCMOS33;
NET "MEM_DATA[31]"							LOC = AF25 	|IOSTANDARD = LVCMOS33;


NET "MEM_CLK" 						LOC = P26 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_ADSC" 					LOC = N24 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_BWE" 					LOC = M25 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_BW[1]" 				LOC = P25 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_BW[2]" 				LOC = R26 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_BW[3]" 				LOC = R25 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_BW[4]" 				LOC = T25 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_GW" 					LOC = N26 	|IOSTANDARD = LVCMOS33;
NET "N_MEM_OE" 					LOC = M26 	|IOSTANDARD = LVCMOS33;
NET "MEM_Parity[1]"						 	LOC = AD24 	|IOSTANDARD = LVCMOS33;
NET "MEM_Parity[2]"						  	LOC = AC24 	|IOSTANDARD = LVCMOS33;
NET "MEM_Parity[3]"						  	LOC = AB24 	|IOSTANDARD = LVCMOS33;
NET "MEM_Parity[4]"						  	LOC = AA24 	|IOSTANDARD = LVCMOS33;
NET "RS0"							LOC = Y10 	|IOSTANDARD = LVCMOS33;
NET "RS1"							LOC = W11 	|IOSTANDARD = LVCMOS33;
NET "VPP" 							LOC = V9 	|IOSTANDARD = LVCMOS33;
NET "MEM_WAIT" 							LOC = W8 	|IOSTANDARD = LVCMOS33	;


NET "N_PERMIT" 					LOC = C23 |IOSTANDARD = LVCMOS33;

NET "ION_PUMP_TEST" 				LOC = L25 |IOSTANDARD = LVCMOS33;
NET "MAG_I_INTLK_TEST" 			LOC = Y22 |IOSTANDARD = LVCMOS33;
NET "MAG_I_OK_TEST" 				LOC = W21 |IOSTANDARD = LVCMOS33;
NET "MAG_KLIXON_TEST" 			LOC = V21 |IOSTANDARD = LVCMOS33;

NET "N_ION_PUMP_MON" 			LOC = L24 |IOSTANDARD = LVCMOS33;
NET "N_LEGACY_AVAIL_MON" 		LOC = B21 |IOSTANDARD = LVCMOS33;
NET "N_MAG_I_INTLK_MON" 		LOC = W24 |IOSTANDARD = LVCMOS33;
NET "N_MAG_I_OK_MON" 			LOC = W23 |IOSTANDARD = LVCMOS33;
NET "N_MAG_KLIXON_MON" 			LOC = Y23 |IOSTANDARD = LVCMOS33;

NET "N_WG_VAC_BAD_MON" 			LOC = L23 |IOSTANDARD = LVCMOS33;
NET "N_WG_VAC_OK_MON" 			LOC = M21 |IOSTANDARD = LVCMOS33;

NET "WG_VAC_BAD_TEST" 			LOC = K22 |IOSTANDARD = LVCMOS33;
NET "WG_VAC_OK_TEST" 			LOC = K21 |IOSTANDARD = LVCMOS33;


NET "LEGACY_MODAVAIL_TEST" 	LOC = A23 |IOSTANDARD = LVCMOS33;
NET "LEGACY_WGTC_GAUGE_TEST" 	LOC = A22 |IOSTANDARD = LVCMOS33;
NET "LEGACY_WG_VALVE_TEST" 	LOC = B20 |IOSTANDARD = LVCMOS33;
NET "N_X_MOD_ON" 					LOC = C22 |IOSTANDARD = LVCMOS33;
NET "N_WG_TCGUAGE_MON" 			LOC = C21 |IOSTANDARD = LVCMOS33;
NET "N_WG_VALVE_MON" 			LOC = B22 |IOSTANDARD = LVCMOS33;
NET "N_LEGACY_AVAIL_MON" 		LOC = B21 |IOSTANDARD = LVCMOS33;



NET "ACC1_FLOW_TEST" 			LOC = E23 |IOSTANDARD = LVCMOS33;
NET "ACC2_FLOW_TEST" 			LOC = F24 |IOSTANDARD = LVCMOS33;
NET "WG1_FLOW_TEST"			  	LOC = E22 |IOSTANDARD = LVCMOS33;
NET "WG2_FLOW_TEST"			  	LOC = D23 |IOSTANDARD = LVCMOS33;
NET "KLY_FLOW_TEST" 				LOC = D21 |IOSTANDARD = LVCMOS33;

NET "N_WG1_FLOW_MON" 			LOC = H22 |IOSTANDARD = LVCMOS33;
NET "N_WG2_FLOW_MON" 			LOC = G24 |IOSTANDARD = LVCMOS33;
NET "N_ACC1_FLOW_MON" 			LOC = J23 |IOSTANDARD = LVCMOS33;
NET "N_ACC2_FLOW_MON" 			LOC = J21 |IOSTANDARD = LVCMOS33;
NET "N_KLY_FLOW_MON" 			LOC = G22 |IOSTANDARD = LVCMOS33;
NET "N_FLOW_SUMMARY" 			LOC = A9  |IOSTANDARD = LVCMOS33;


NET "N_X_CTRL_PWR_ON_CMD" 		LOC = AD13 |IOSTANDARD = LVCMOS33;
NET "N_X_FAULT_RST_CMD" 		LOC = AB14 |IOSTANDARD = LVCMOS33;
NET "N_X_HV_OFF_CMD" 			LOC = AF13 |IOSTANDARD = LVCMOS33;
NET "N_X_HV_ON_CMD" 				LOC = AE13 |IOSTANDARD = LVCMOS33;


NET "MOD_AVAIL_TEST" 			LOC = AE15 |IOSTANDARD = LVCMOS33;
NET "MOD_CTRL_PWR_FLT_TEST" 	LOC = AF24 |IOSTANDARD = LVCMOS33;
NET "MOD_EOLC_TEST" 				LOC = AC16 |IOSTANDARD = LVCMOS33;
NET "MOD_EXT_INTLK_TEST" 		LOC = AE16 |IOSTANDARD = LVCMOS33;
NET "MOD_FAULT_TEST" 			LOC = AC22 |IOSTANDARD = LVCMOS33;
NET "MOD_HVOC_TEST" 				LOC = AD16 |IOSTANDARD = LVCMOS33;
NET "MOD_HV_ON_TEST" 			LOC = AB17 |IOSTANDARD = LVCMOS33;
NET "MOD_HV_RDY_TEST" 			LOC = AF15 |IOSTANDARD = LVCMOS33;
NET "MOD_INTLK_COMP_TEST" 		LOC = AD15 |IOSTANDARD = LVCMOS33;
NET "MOD_KLY_FIL_TD_TEST" 		LOC = AF14 |IOSTANDARD = LVCMOS33;
NET "MOD_TTOC_TEST" 				LOC = AB16 |IOSTANDARD = LVCMOS33;
NET "MOD_VVS_PWR_TEST" 			LOC = AD14 |IOSTANDARD = LVCMOS33;

NET "N_MOD_AVAIL_MON" 			LOC = AD18 |IOSTANDARD = LVCMOS33;
NET "N_MOD_CTRL_PWR_FLT_MON" 	LOC = AF17 |IOSTANDARD = LVCMOS33;
NET "N_MOD_EOLC_MON" 			LOC = AB19 |IOSTANDARD = LVCMOS33;
NET "N_MOD_EXT_INTLK_MON" 		LOC = AD19 |IOSTANDARD = LVCMOS33;
NET "N_MOD_FAULT_MON" 			LOC = AF19 |IOSTANDARD = LVCMOS33;
NET "N_MOD_HVOC_MON" 			LOC = AC19 |IOSTANDARD = LVCMOS33;
NET "N_MOD_HV_ON_MON" 			LOC = AF20 |IOSTANDARD = LVCMOS33;
NET "N_MOD_HV_RDY_MON" 			LOC = AE18 |IOSTANDARD = LVCMOS33;
NET "N_MOD_INTLK_COMP_MON" 	LOC = AC18 |IOSTANDARD = LVCMOS33;
NET "N_MOD_KLY_FIL_TD_MON" 	LOC = AE17 |IOSTANDARD = LVCMOS33;
NET "N_MOD_TTOC_MON" 			LOC = AF18 |IOSTANDARD = LVCMOS33;
NET "N_MOD_VVS_PWR_MON" 		LOC = AC17 |IOSTANDARD = LVCMOS33;

# XTCAV Modification
# Lower Detuned <- N_TANK_LO
# Lower Tuned  <- TANK_HI
# Upper Tuned  <- N_PUMPII 

#NET "N_SLED_DETUNE" 					LOC = D24 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_ENABLE" 					LOC = C26 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_LOWER_DETUNED" 		LOC = F25 |IOSTANDARD = LVCMOS33;
NET "N_TANK_LO" 						LOC = F25 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_LOWER_TUNED" 			LOC = E26 |IOSTANDARD = LVCMOS33;
NET "TANK_HI" 							LOC = E26 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_MOTOR_NOT_DETUNED" 	LOC = D26 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_MOTOR_NOT_TUNED" 	LOC = E25 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_TUNE" 					LOC = D25 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_UPPER_DETUNED" 		LOC = G26 |IOSTANDARD = LVCMOS33;
#NET "N_SLED_UPPER_TUNED" 			LOC = G25 |IOSTANDARD = LVCMOS33;
NET "N_PUMPII" 						LOC = G25 |IOSTANDARD = LVCMOS33;

#NET "SLED_L_DETUNED_TEST" 		LOC = B26 |IOSTANDARD = LVCMOS33;
NET "TANK_LO_TEST" 					LOC = B26 |IOSTANDARD = LVCMOS33;
#NET "SLED_L_TUNED_TEST" 			LOC = A25 |IOSTANDARD = LVCMOS33;
NET "TANK_HI_TEST" 					LOC = A25 |IOSTANDARD = LVCMOS33;
#NET "SLED_M_DETUNED_TEST" 		LOC = C24 |IOSTANDARD = LVCMOS33;
#NET "SLED_M_TUNED_TEST" 			LOC = B24 |IOSTANDARD = LVCMOS33;
#NET "SLED_U_DETUNED_TEST" 		LOC = B25 |IOSTANDARD = LVCMOS33;
#NET "SLED_U_TUNED_TEST"	 		LOC = A24 |IOSTANDARD = LVCMOS33;
NET "PUMPII_TEST"	 					LOC = A24 |IOSTANDARD = LVCMOS33;


NET "SPI_CLK" 						LOC = N8 |IOSTANDARD = LVCMOS33;
NET "SPI_MISO"						LOC = P8 |IOSTANDARD = LVCMOS33;
NET "SPI_MOSI"						LOC = R8 |IOSTANDARD = LVCMOS33;
NET "N_SPI_SBUF"					LOC = N7 |IOSTANDARD = LVCMOS33;
NET "N_SPI_SS" 					LOC = R7 |IOSTANDARD = LVCMOS33;
NET "N_SPI_DPOM" 					LOC = T8 |IOSTANDARD = LVCMOS33;
NET "N_SPI_RESET" 				LOC = M7 |IOSTANDARD = LVCMOS33;

NET "N_FOCUS_SYNC" 				LOC = C17 |IOSTANDARD = LVCMOS33;
NET "FOCUS_SCLK"				  	LOC = A17 |IOSTANDARD = LVCMOS33;
NET "FOCUS_SDOut"				  	LOC = B17 |IOSTANDARD = LVCMOS33;


NET "RFATTN_SCLK" 				LOC = AD6 |IOSTANDARD = LVCMOS33;
NET "RFATTN_SDIN" 				LOC = AF3 |IOSTANDARD = LVCMOS33;
NET "RFATTN_SDOUT" 				LOC = AF4 |IOSTANDARD = LVCMOS33;
NET "N_RFATTN_SYNC" 				LOC = AC6 |IOSTANDARD = LVCMOS33;


NET "N_TEMP_IN_CS" 				LOC = K26 |IOSTANDARD = LVCMOS33;
NET "N_TEMP_OUT_CS" 				LOC = J26 |IOSTANDARD = LVCMOS33;
NET "TEMP_ADC_CLK" 				LOC = H24 |IOSTANDARD = LVCMOS33;
NET "TEMP_DOut" 					LOC = J24 |IOSTANDARD = LVCMOS33;
NET "TEMP_DIn_RDY" 				LOC = J25 |IOSTANDARD = LVCMOS33;
NET "TEMP_SCLK" 					LOC = H26 |IOSTANDARD = LVCMOS33;


NET "VP_IN" 						LOC = N15;
NET "VN_IN" 						LOC = P14;

NET "REFL_PWR_N"					LOC = D18 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "REFL_PWR_P"					LOC = E17 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "FWD_PWR_N"					LOC = E16 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FWD_PWR_P"					LOC = D16 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "BEAM_V_N" 					LOC = E15 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_V_P" 					LOC = D15 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "BEAM_I_N" 					LOC = E11 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_I_P" 					LOC = F12 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "FADC_CLK_N"					LOC = F10 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_CLK_P"					LOC = E10 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "FADC_DATA_CLK_N"			LOC = E21 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_DATA_CLK_P"			LOC = E20 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "FADC_FRAME_CLK_N" 			LOC = F19 |IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_FRAME_CLK_P" 			LOC = E18 |IOSTANDARD = DIFF_HSTL_II_DCI_18;

NET "FADC_SCLK"					LOC = A18 |IOSTANDARD = LVCMOS33;
NET "FADC_SDIO"					LOC = A19 |IOSTANDARD = LVCMOS33;
NET "N_FADC_CS" 					LOC = A20 |IOSTANDARD = LVCMOS33;


NET "TRIGGER_IN0_n"		LOC = AE21 |IOSTANDARD = LVDS_25;
NET "TRIGGER_IN0_p"		LOC = AF22 |IOSTANDARD = LVDS_25;
NET "TRIGGER_IN1_n"		LOC = AE23 |IOSTANDARD = LVDS_25;
NET "TRIGGER_IN1_p"		LOC = AF23 |IOSTANDARD = LVDS_25;

NET "N_FRONT_TRIGGER" 	LOC = AC13 |IOSTANDARD = LVCMOS33;
NET "N_REAR_TRIGGER" 	LOC = AC12 |IOSTANDARD = LVCMOS33;
NET "N_MOD_TRIGGER" 		LOC = AE12 |IOSTANDARD = LVCMOS33;
NET "N_MOD_TRIGGER_EN" 	LOC = AF12 |IOSTANDARD = LVCMOS33;


NET "CLK119MHZ_IN_n"		LOC = AD21 |IOSTANDARD = LVDS_25;
NET "CLK119MHZ_IN_p"		LOC = AC21 |IOSTANDARD = LVDS_25;

NET "CLK119MHZ_IN_p"    CLOCK_DEDICATED_ROUTE = FALSE;

NET "N_BRD_RST" 			LOC = W5 |IOSTANDARD = LVCMOS33;

NET "TX_DISABLE0"			LOC = G9 |IOSTANDARD = LVCMOS33;
NET "TX_DISABLE1"			LOC = K7 |IOSTANDARD = LVCMOS33;

NET "N_MODID[0]"			LOC = M6 |IOSTANDARD = LVCMOS33;
NET "N_MODID[1]"			LOC = N6 |IOSTANDARD = LVCMOS33;
NET "N_MODID[2]"			LOC = P6 |IOSTANDARD = LVCMOS33;
NET "N_MODID[3]"			LOC = R5 |IOSTANDARD = LVCMOS33;
NET "N_MODID[4]"			LOC = R6 |IOSTANDARD = LVCMOS33;
NET "N_MODID[5]"			LOC = T5 |IOSTANDARD = LVCMOS33;
NET "N_MODID[6]"			LOC = V6 |IOSTANDARD = LVCMOS33;
NET "N_MODID[7]"			LOC = W4 |IOSTANDARD = LVCMOS33;


NET "MGTCLK1_n" 			LOC = AB3;
NET "MGTCLK1_p" 			LOC = AB4;

NET "RX0_n"					LOC = AB1;
NET "RX0_p"					LOC = AA1;
NET "TX0_n"					LOC = AA2;
NET "TX0_p"					LOC = Y2;
NET "RX1_n"					LOC = AC1;
NET "RX1_p"					LOC = AD1;
NET "TX1_n"					LOC = AD2;
NET "TX1_p"					LOC = AE2;



NET "TP[0]" 		LOC = A13 |IOSTANDARD = LVCMOS33;
NET "TP[1]" 		LOC = A12 |IOSTANDARD = LVCMOS33;
NET "TP[2]" 		LOC = B12 |IOSTANDARD = LVCMOS33;
NET "TP[3]" 		LOC = B11 |IOSTANDARD = LVCMOS33;
NET "TP[4]" 		LOC = B10 |IOSTANDARD = LVCMOS33;
NET "TP[5]" 		LOC = A10 |IOSTANDARD = LVCMOS33;
NET "TP[6]" 		LOC = B9  |IOSTANDARD = LVCMOS33;
#NET "TP[7]" 		LOC = A9  |IOSTANDARD = LVCMOS33;

NET "N_MONADC_CS" 	LOC = G5  |IOSTANDARD = LVCMOS33;
NET "N_MONADC_EOC" 	LOC = H7  |IOSTANDARD = LVCMOS33;
NET "N_MONADC_EOLC" 	LOC = G7  |IOSTANDARD = LVCMOS33;
NET "N_MONADC_RD" 	LOC = H6  |IOSTANDARD = LVCMOS33;
NET "N_MONADC_WR" 	LOC = G6  |IOSTANDARD = LVCMOS33;
NET "MONADC_CLK" 	LOC = G4  |IOSTANDARD = LVCMOS33;
NET "MONADC_CONVST"	LOC = H4  |IOSTANDARD = LVCMOS33;

NET "N_SLOWADC_CS" 	LOC = B4  |IOSTANDARD = LVCMOS33;
NET "N_SLOWADC_EOC" 	LOC = C6  |IOSTANDARD = LVCMOS33;
NET "N_SLOWADC_EOLC"    LOC = B6  |IOSTANDARD = LVCMOS33;
NET "N_SLOWADC_RD" 	LOC = B5  |IOSTANDARD = LVCMOS33;
NET "N_SLOWADC_WR" 	LOC = A5  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_CLK" 	LOC = A3  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_CONVST" 	LOC = A4  |IOSTANDARD = LVCMOS33;


NET "SLOWADC_DATA[0]"		LOC = D5  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[1]"		LOC = E5  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[2]"		LOC = F5  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[3]"		LOC = D6  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[4]"		LOC = E6  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[5]"		LOC = A7  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[6]"		LOC = B7  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[7]"		LOC = C7  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[8]"		LOC = E7  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[9]"		LOC = F7  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[10]" 		LOC = A8  |IOSTANDARD = LVCMOS33;
NET "SLOWADC_DATA[11]" 		LOC = C8  |IOSTANDARD = LVCMOS33;


NET "FP_LED[0]"				LOC = AF10  |IOSTANDARD = LVCMOS33;
NET "FP_LED[1]"				LOC = AF9   |IOSTANDARD = LVCMOS33;
NET "FP_LED[2]"				LOC = AF8   |IOSTANDARD = LVCMOS33;
NET "FP_LED[3]"				LOC = AF7   |IOSTANDARD = LVCMOS33;
NET "FP_LED[4]"				LOC = AE11  |IOSTANDARD = LVCMOS33;
NET "FP_LED[5]"				LOC = AE10  |IOSTANDARD = LVCMOS33;
NET "FP_LED[6]"				LOC = AE8   |IOSTANDARD = LVCMOS33;
NET "FP_LED[7]"				LOC = AE7   |IOSTANDARD = LVCMOS33;
NET "FP_LED[8]"				LOC = AD11  |IOSTANDARD = LVCMOS33;
NET "FP_LED[9]"				LOC = AD10  |IOSTANDARD = LVCMOS33;
NET "FP_LED[10]"				LOC = AD9   |IOSTANDARD = LVCMOS33;
NET "FP_LED[11]"				LOC = AD8   |IOSTANDARD = LVCMOS33;
NET "FP_LED[12]"				LOC = AC9   |IOSTANDARD = LVCMOS33;
NET "FP_LED[13]"				LOC = AC8   |IOSTANDARD = LVCMOS33;
NET "FP_LED[14]"				LOC = AC7   |IOSTANDARD = LVCMOS33;
NET "FP_LED[15]"				LOC = AB9   |IOSTANDARD = LVCMOS33;
NET "FP_LED[16]"				LOC = AB7   |IOSTANDARD = LVCMOS33;
NET "FP_LED[17]"				LOC = AA9   |IOSTANDARD = LVCMOS33;
NET "FP_LED[18]"				LOC = AA8   |IOSTANDARD = LVCMOS33;
NET "FP_LED[19]"				LOC = AA7   |IOSTANDARD = LVCMOS33;
NET "FP_LED[20]"				LOC = Y8    |IOSTANDARD = LVCMOS33;
NET "FP_LED[21]"				LOC = Y7    |IOSTANDARD = LVCMOS33;
NET "FP_LED[22]"				LOC = W9    |IOSTANDARD = LVCMOS33;
NET "FP_LED[23]"				LOC = V8    |IOSTANDARD = LVCMOS33;
NET "FP_LED[24]"				LOC = V7    |IOSTANDARD = LVCMOS33;
NET "FP_LED[25]"				LOC = T7    |IOSTANDARD = LVCMOS33;
NET "FP_LED[26]"				LOC = U7    |IOSTANDARD = LVCMOS33;
NET "FP_LED[27]"				LOC = U6    |IOSTANDARD = LVCMOS33;
NET "FP_LED[28]"				LOC = U5    |IOSTANDARD = LVCMOS33;

#JJO 6/6/13
# Fast ADC's quit working from V4.81 to V4.9
# Think it is a timing issue
# Change 119 and 125 to 130Mhz
# Above messes up the VCO Timing
# But 119 and 125  to 125
# Changed ADC_CLK to 65Mhz
#Created by Constraints Editor (xc5vlx30t-ff665-1) - 2011/05/17
NET "u_Glink/Clk125_o" TNM_NET = u_Glink/Clk125_o;
TIMESPEC TS_u_Glink_Clk125_o = PERIOD "u_Glink/Clk125_o" 125 MHz HIGH 50%;

NET "MGTCLK1_n" TNM_NET = MGTCLK1_n;
TIMESPEC TS_MGTCLK1_n = PERIOD "MGTCLK1_n" 125 MHz HIGH 50%;
NET "MGTCLK1_p" TNM_NET = MGTCLK1_p;
TIMESPEC TS_MGTCLK1_p = PERIOD "MGTCLK1_p" 125 MHz HIGH 50%;

#Created by Constraints Editor (xc5vlx30t-ff665-1) - 2011/05/19
#
NET "CLK119MHZ_IN_n" TNM_NET = CLK119MHZ_IN_n;
TIMESPEC TS_CLK119MHZ_IN_n = PERIOD "CLK119MHZ_IN_n" 125 MHz HIGH 50%;
NET "CLK119MHZ_IN_p" TNM_NET = CLK119MHZ_IN_p;
TIMESPEC TS_CLK119MHZ_IN_p = PERIOD "CLK119MHZ_IN_p" 125 MHz HIGH 50%;

NET "u_FastADC/ADC_Clk" TNM_NET = u_FastADC/ADC_Clk;
TIMESPEC TS_u_FastADC_ADC_Clk = PERIOD "u_FastADC/ADC_Clk" 65 MHz HIGH 50%;

#Created by Constraints Editor (xc5vlx30t-ff665-1) - 2011/09/26
NET "FADC_DATA_CLK_N" TNM_NET = FADC_DATA_CLK_N;
TIMESPEC TS_FADC_DATA_CLK_N = PERIOD "FADC_DATA_CLK_N" 375 MHz HIGH 50%;
NET "FADC_DATA_CLK_P" TNM_NET = FADC_DATA_CLK_P;
TIMESPEC TS_FADC_DATA_CLK_P = PERIOD "FADC_DATA_CLK_P" 375 MHz HIGH 50%;
