NET "FADC_CLK_N" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_CLK_P" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_CLK_N"				  	LOC = F10;
NET "FADC_CLK_P"				  	LOC = E10;
NET "FADC_DATA_CLK_N" 			IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_DATA_CLK_P" 			IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_DATA_CLK_N"		 	LOC = E21;
NET "FADC_DATA_CLK_P"			LOC = E20;
NET "FADC_FRAME_CLK_N" 			IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_FRAME_CLK_P" 			IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FADC_FRAME_CLK_N" 			LOC = F19;
NET "FADC_FRAME_CLK_P" 			LOC = E18;
NET "BEAM_V_N" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_V_P" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_V_N"						LOC = E16;
NET "BEAM_V_P"						LOC = D16;
NET "BEAM_I_N" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_I_P" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "BEAM_I_N"						LOC = D18;
NET "BEAM_I_P"						LOC = E17;
NET "FWD_PWR_N" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FWD_PWR_P" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "FWD_PWR_N" 					LOC = E15;
NET "FWD_PWR_P" 					LOC = D15;
NET "REFL_PWR_N" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "REFL_PWR_P" 					IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "REFL_PWR_N" 					LOC = E11;
NET "REFL_PWR_P" 					LOC = F12;
#Created by Constraints Editor (xc5vlx30t-ff665-1) - 2011/03/22
NET "Clock" TNM_NET = Clock;
TIMESPEC TS_Clock = PERIOD "Clock" 60 MHz HIGH 50%;
NET "FADC_DATA_CLK_N" TNM_NET = FADC_DATA_CLK_N;
TIMESPEC TS_FADC_DATA_CLK_N = PERIOD "FADC_DATA_CLK_N" 360 MHz HIGH 50%;
NET "FADC_DATA_CLK_P" TNM_NET = FADC_DATA_CLK_P;
TIMESPEC TS_FADC_DATA_CLK_P = PERIOD "FADC_DATA_CLK_P" 360 MHz LOW 50%;
